body {
    background-color: #111111;
}

.study__container {
    padding: 150px;
    margin: 0 auto;
    display: inline-flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.study__link {
    display: inline-block;
    font-size: 50px;
    font-weight: 600;
    text-align: left;
    color: #ffffff;
    border-radius: 5px;
    transition: 0.25s;
    background-color: #FF6B01;
    border: none;
    padding: 5px 15px;
}

.study__link:not(:last-child) {
    margin-bottom: 50px;
}

.study__link:hover,
.study__link:focus {
    background-color: #ffffff;
    color: #FF6B01;
    border: none;
    opacity: 1;
}